.navbar{
    justify-content: space-between;
    cursor: initial;
    cursor: pointer;
    color: rgb(27, 24, 80);
}
span{
    padding-right: 1rem;
}
.log{
    border: lightcoral;
    border-color: lightsalmon;
}
  .mattab{
   right: 50%;
    width: 350px;
    background-color: cornflowerblue;
    
  }